direnv_load envchain bgpat direnv dump
dotenv .env

# ps1
# set into .bashrc
#export PS1='\[\033[36m\]$(__ps1_namespace)\[\033[0m\]\[\033[32m\]\w\[\033[0m\]\[\033[31m\]$(__git_ps1)\[\033[0m\]\[\033[37m\]\$ \[\033[0m\]'
#__ps1_namespace () {
#    if ! [[ -z $PS1_NAMESPACE ]]; then
#          echo -e "[$PS1_NAMESPACE]"
#              fi
#}

# Go
export GOPATH=~
export GOENV_ROOT=~/.goenv
PATH_add ~/.goenv/shims

# gcloud
export GOOGLE_APPLICATION_CREDENTIALS=~/.config/gcloud/bgpat23@gmail.com.json

PATH_add ~/bin
