[submodule ".vim/pack/submodules/start/ale"]
	path = .vim/pack/submodules/start/ale
	url = https://github.com/w0rp/ale
[submodule ".vim/pack/submodules/start/detectindent"]
	path = .vim/pack/submodules/start/detectindent
	url = https://github.com/ciaranm/detectindent
	ignore = dirty
[submodule ".vim/pack/submodules/start/lightline.vim"]
	path = .vim/pack/submodules/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/submodules/start/vim-go"]
	path = .vim/pack/submodules/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/pack/submodules/opt/molokai"]
	path = .vim/pack/submodules/opt/molokai
	url = https://github.com/tomasr/molokai
[submodule ".vim/pack/submodules/start/vim-fugitive"]
	path = .vim/pack/submodules/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/submodules/start/vim-terraform"]
	path = .vim/pack/submodules/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule ".vim/pack/submodules/start/vim-prettier"]
	path = .vim/pack/submodules/start/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule ".vim/pack/submodules/start/Dockerfile.vim"]
	path = .vim/pack/submodules/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule ".vim/pack/submodules/start/vim-quickrun"]
	path = .vim/pack/submodules/start/vim-quickrun
	url = https://github.com/thinca/vim-quickrun
	ignore = dirty
[submodule ".vim/pack/submodules/start/vim-vue"]
	path = .vim/pack/submodules/start/vim-vue
	url = https://github.com/posva/vim-vue
[submodule ".vim/pack/submodules/start/typescript-vim"]
	path = .vim/pack/submodules/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
