[submodule "detectindent"]
	ignore = dirty
	path = .vim/pack/submodules/start/detectindent
[submodule ".vim/pack/submodules/start/vim-go"]
	path = .vim/pack/submodules/start/vim-go
	url = https://github.com/fatih/vim-go
